{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/css.css" rel="stylesheet">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>Blog</title>
</head>
<body>
<!-- хэдер -->
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#q">
                    <span class="sr-only">Открыть меню</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Логотип</a>
            </div>
            <div class="collapse navbar-collapse" id="q">
                <ul class="nav navbar-nav">
                <li><a href="#">Мужское</a></li>
                <li><a href="#">Женское</a></li>
                <li><a href="#">Бренды</a></li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Контакты <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://vk.com/alex_505" target="_blank"><i class="fa fa-vk icon"></i>Мы в Вконтакте</a></li>
                        <li><a href="https://twitter.com/unleash_ocean" target="_blank"><i class="fa fa-twitter icon"></i>Мы в Twitter</a></li>
                        <li><a href="https://www.instagram.com/i_am_buttercup/" target="_blank"><i class="fa fa-instagram icon"></i>Мы в Instagram</a></li>
                        <li><a href="http://www.youtube.com/channel/UCsjDt3QtyNU19QbSv5se5Fg" target="_blank"><i class="fa fa-youtube icon"></i>Мы на Youtube</a></li>
                        <li class="divider"></li>
                        <li><a><i class="fa fa-phone icon"></i>+7-981-818-99-17</a></li>

                    </ul>
                </li>
                </ul>

                <form action="" class="navbar-form navbar-right hidden-md hidden-sm">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Password">
                        </div>
                            <button class="btn btn-primary">Войти</button>
                            <button class="btn btn-primary">Регистрация</button>
                </form>
                <ul class="nav navbar-nav navbar-right hidden-xs hidden-lg ">
                    <li><a href="#">Войти</a></li>
                    <li><a href="#">Регистрация</a></li>
                </ul>
             </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2016 by Alex Se
           <a href="http://memesmix.net/media/created/pci4ea.jpg" target="_blank" >Все права не защищены</a>
      </p>
      
      <a href="https://www.instagram.com/i_am_buttercup/" class="navbar-btn btn-danger btn pull-right">
      <span class="fa fa-instagram icon"></span>Подпишись на нас в инстаграме</a>
    </div>
    
  </div>
</body>
</html>