{% extends "base_level2.html" %}
{% block cat %}Куртки{% endblock %}
{% block item %}
    <ul class="nav nav-tabs nav-justified ">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Размер<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="">S</a></li>
                <li><a href="">M</a></li>
                <li><a href="">L</a></li>
                <li><a href="">XL</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Брэнд<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for brand in brands %}
                    <li><a href="">{{ brand.brand }}</a></li>
                {% endfor %}
            </ul>
        </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Материал <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {% for mat in material %}
                <li><a href="">{{ mat.material }}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Цена<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="">До 3000руб.</a></li>
            <li><a href="">До 7000руб.</a></li>
            <li><a href="">До 10000руб.</a></li>
            <li><a href="">До 13000руб.</a></li>
            <li><a href="">До 15000руб.</a></li>
        </ul>
    </li>
    </ul>
    <div class="container-fluid">
        <div class="row">
                {% for jac in jackets %}
                    <div class="div-item">
                        <img class="img-item-jac" src="{{ jac.image.url }}" alt="image">
                        <strong>{{ jac.brand.brand }}</strong>
                        <p>{{ jac.title }}</p>
                        <strong>{{ jac.price }} Р</strong>
                    </div>
                {% endfor %}
            
        </div>
    </div>
{% endblock %}