{% extends "base_level2.html" %}
{% block cat %}Снэпбэки{% endblock %}
{% block item %}
    <ul class="nav nav-tabs nav-justified ">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Фасон<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="">Бесболки классические</a></li>
                <li><a href="">Бесболки с прямым козырьком</a></li>
                <li><a href="">Бесболки с сеткой</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Брэнд<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for brand in brands %}
                    <li><a href="">{{ brand.brand }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Материал <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for mat in material %}
                    <li><a href="">{{ mat.material }}</a></li>
                {% endfor %}
            </ul>
        </li> -->
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Цена<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="">До 1000руб.</a></li>
            <li><a href="">До 1500руб.</a></li>
            <li><a href="">До 2000руб.</a></li>
            <li><a href="">До 2500руб.</a></li>
            <li><a href="">До 3000руб.</a></li>
        </ul>
    </li>
    </ul>
    <div class="container-fluid">
        <div class="row">
                {% for cap in snapback %}
                    <div class="div-item">
                        <img class="img-item" src="{{ cap.image.url }}" alt="image">
                        <strong>{{ cap.brand.brand }}</strong>
                        <p>{{ cap.title }}</p>
                        <strong>{{ cap.price }} Р</strong>
                    </div>
                {% endfor %}
            
        </div>
    </div>
{% endblock %}